<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.bzsy.mapper.XEvaluateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.bzsy.model.XEvaluate">
        <id column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="uid" property="uid" />
        <result column="item_id" property="itemId" />
        <result column="star" property="star" />
        <result column="content" property="content" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, deleted, uid, item_id, star, content, time
    </sql>

</mapper>
