<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.bzsy.mapper.XItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.bzsy.model.XItem">
        <id column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="saleNum" property="saleNum" />
        <result column="stock" property="stock" />
        <result column="introduction" property="introduction" />
        <result column="color" property="color" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="cover" property="cover" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, deleted, title, price, saleNum, stock, introduction, color, sort, status, cover, time
    </sql>

</mapper>
