<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.bzsy.mapper.UnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.bzsy.model.Unit">
        <id column="id" property="id" />
        <result column="word_id" property="wordId" />
        <result column="unit" property="unit" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, word_id, unit, deleted
    </sql>

</mapper>
