<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.bzsy.mapper.ParkingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.bzsy.model.Parking">
        <id column="id" property="id" />
        <result column="parking_name" property="parkingName" />
        <result column="description" property="description" />
        <result column="cost" property="cost" />
        <result column="url" property="url" />
        <result column="deleted" property="deleted" />
        <result column="created" property="created" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parking_name, description, cost, url, deleted, created
    </sql>

</mapper>
